body {
  font-size: 18px;
  line-height: 1.6em;
  font-family: adobe-garamond-pro, Palatino Linotype, Palatino, serif;
  color: #312516;
  background-color: #f0f0e5;
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  padding-top: 10px; }

a {
  text-decoration: none;
  border-bottom: 1px dotted #312516;
  color: #312516; }
  a:hover {
    border-bottom: 1px solid #312516;
    color: #312516; }
  a.img {
    border: 0; }

h1, h2, h3 {
  font-family: ff-enzo-web, Verdana, sans-serif;
  color: #312516;
  font-size: 26px;
  margin-bottom: 15px; }

h1 {
  padding-top: 10px;
  font-weight: bold; }

h2 {
  font-weight: bold; }

h3 {
  line-height: 1.5; }

strong {
  font-family: ff-enzo-web, Palatino Linotype, Book Antiqua, Palatino, serif; }

#wrapper {
  box-sizing: border-box;
  width: 950px;
  display: block;
  margin: auto;
  position: relative; }
  @media only screen and (min-width: 1350px) {
    #wrapper {
      width: 1200px; } }
  @media only screen and (max-width: 1150px) {
    #wrapper {
      width: 900px; } }
  @media only screen and (max-width: 1000px) {
    #wrapper {
      width: 650px; } }
  @media only screen and (max-width: 650px) {
    #wrapper {
      width: 450px; } }
  @media only screen and (max-width: 450px) {
    #wrapper {
      width: 300px; } }

nav {
  box-sizing: border-box;
  float: left;
  width: 150px;
  font-family: ff-enzo-web, Palatino Linotype, Book Antiqua, Palatino, serif;
  line-height: 1.5;
  padding-top: 1em; }
  @media only screen and (max-width: 450px) {
    nav {
      width: 100%; }
      nav img {
        display: none; }
      nav li {
        display: inline-block;
        padding-right: 10px; }
        nav li a {
          border-bottom: 1px dotted #333333; } }
  @media only screen and (max-width: 650px) {
    nav {
      width: 100%; }
      nav img, nav ul {
        float: left; }
      nav ul {
        margin-left: 1em; } }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px; }
  nav a {
    text-decoration: none;
    border: 0;
    color: #312516; }
    nav a:hover {
      border-bottom: 1px dotted #333333; }

#content {
  margin-left: 150px; }
  @media only screen and (max-width: 650px) {
    #content {
      margin-left: 0px; } }
  @media only screen and (max-width: 450px) {
    #content {
      clear: both; } }
  @media only screen and (max-width: 650px) {
    #content {
      clear: both; } }

article {
  padding-top: 10px; }
  article.end {
    margin-bottom: 3em; }

section {
  margin-bottom: 2em; }
  section div.images {
    clear: both;
    margin-top: 1em;
    margin-bottom: 3em; }
    section div.images.small a {
      box-sizing: border-box;
      float: left;
      width: 100px;
      margin-left: 50px;
      margin-right: 50px;
      width: 100px;
      height: 100px;
      border: none;
      margin-right: 0;
      margin-bottom: 1.5em; }
      @media only screen and (min-width: 1350px) {
        section div.images.small a {
          margin-left: 87.5px; } }
      @media only screen and (max-width: 1150px) {
        section div.images.small a {
          margin-left: 25px; } }
      @media only screen and (max-width: 1150px) {
        section div.images.small a {
          margin-right: 25px; } }
      section div.images.small a img {
        width: 100px;
        height: 100px;
        margin-bottom: 30px; }
  section img {
    margin-right: 25px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    margin-bottom: 1em;
    box-shadow: -1px -1px 1px rgba(221, 221, 221, 0.7), 1px 1px 1px rgba(2, 2, 2, 0.4);
    -moz-box-shadow: -1px -1px 1px rgba(221, 221, 221, 0.7), 1px 1px 1px rgba(2, 2, 2, 0.4);
    -webkit-box-shadow: -1px -1px 1px rgba(221, 221, 221, 0.7), 1px 1px 1px rgba(2, 2, 2, 0.4); }
    @media only screen and (max-width: 450px) {
      section img {
        display: block;
        float: none !important;
        margin-left: auto;
        margin-right: auto; } }
    section img.standalone {
      display: block;
      float: none !important;
      margin-left: auto;
      margin-right: auto; }
    section img.tall {
      margin-bottom: 1.6em; }
    section img.right {
      margin-left: 25px;
      float: right; }
  section p, section div {
    padding-bottom: 1em; }

.others a.project {
  font-family: ff-enzo-web, Verdana, sans-serif;
  font-weight: bold; }
.others h3 {
  margin-bottom: 1em; }

/* On smaller screens (portrait iPad or smaller), the Dr. Horrible images overflow,
 * screwing with the positioning of the last section. This unfortunate hack stops that.
 * (we can't make all sections clear: both or else the main nav would break) */
#contact {
  clear: both;
  padding-top: 2em; }

.portfolio .info-left, .portfolio .info-right {
  float: left; }
.portfolio .info-right {
  margin-left: 150px; }
.portfolio #info {
  overflow: auto;
  margin-bottom: 1em;
  margin-top: 1em; }
.portfolio .images {
  margin-left: 25px;
  overflow: auto; }
  .portfolio .images img {
    box-sizing: border-box;
    float: left;
    width: 225px;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    box-shadow: none;
    -webkit-moz-shadow: none;
    -moz-box-shadow: none; }
