/** 
*	This is a loose, incomplete port of Blueprint.css's grid to SCSS, 
* so as to allow for a pure CSS grid with no HTML markup.
*
* It neither implements Blueprint's grid formatting of form elements, 
*	nor its other miscellaneous grid helper functions.
* 
* There are more full-featured SASS grids out there, but this is
* dead-simple and gets the job done quickly.
*/

$page_width: 960px; 
$num_columns: 24; 
$margin: 10px; 

$width: ($page_width - ($margin * ($num_columns - 1))) / $num_columns; 
$padded_width: $width + $margin;

@mixin span($num: 1) { 
	float: left;
	width: ($num * $width) + (($num - 1) * $margin); 
	
	/* Don't add a margin if it's as wide as the page */
	@if $num == $num_columns { 
		margin-right: 0; 
	} @else { 
		margin-right: $margin; 
	} 
} 

@mixin last() { 
	margin-right: 0 !important; 
} 

@mixin prepend($num: 1) { 
	margin-left: $padded_width * $num;
} 

@mixin prependImportant($num: 1) { 
	margin-left: $padded_width * $num !important;
} 

@mixin append($num: 1) { 
	margin-right: $padded_width * $num;
}

@mixin appendImportant($num: 1) { 
	margin-right: $padded_width * $num !important;
}

@mixin pull($num: 1) {
	margin-left: -($padded_width * $num);
	float: left;
	position: relative;
}

@mixin push($num: 1) {
	$offset: $padded_width * $num;
	margin: 0 -$offset 1.5em $offset;
	
	float: left;
	position: relative;
}