@import orbital

$text-color: #312516

body
    font-size: 18px
    line-height: 1.6em
    font-family: adobe-garamond-pro, Palatino Linotype, Palatino, serif
    color: $text-color

    background-color: #F0F0E5
    background-image: url('../images/bg.png')
    background-repeat: repeat
    padding-top: 10px

a
    text-decoration: none
    border-bottom: 1px dotted $text-color
    color: $text-color

    &:hover
        border-bottom: 1px solid $text-color
        color: $text-color

    &.img
        border: 0

h1, h2, h3
    font-family: ff-enzo-web, Verdana, sans-serif
    color: $text-color
    font-size: 26px
    margin-bottom: 15px

h1
    padding-top: 10px
    font-weight: bold

h2
    font-weight: bold

h3
    line-height: 1.5

strong
    font-family: ff-enzo-web, Verdana, sans-serif


#wrapper
    +full-width-column()
    margin: auto
    position: relative

nav
    +column(2)
    +ipad-portrait
        margin-left: 10px

    +iphone-landscape
        margin-left: 0
        width: 100%
        img, ul
            float: left
        ul
            margin-left: 10px !important
            margin-top: 0 !important
            width: 100px

    +iphone-portrait
        width: 100%
        li
            display: inline-block
            padding-right: 10px
            a
                border-bottom: 1px dotted #333


    font-family: ff-enzo-web, Palatino Linotype, Book Antiqua, Palatino, serif
    line-height: 1.5
    padding-top: 1em

    ul
        list-style-type: none
        padding: 0
        margin: 0
        margin-top: 10px

    a
        text-decoration: none
        border: 0
        color: $text-color
        &:hover
            border-bottom: 1px dotted #333
    a.img:hover
        border: none

#content
    +before($full: 3, $ipad-portrait: 3, $iphone-landscape: 0)

    +iphone-portrait
        clear: both
    +iphone-landscape
        clear: both
article
    padding-top: 10px

    &.end
        margin-bottom: 3em

section
    margin-bottom: 2em

    .squares
        $size: 160px

        clear: both
        list-style-type: none
        margin-top: 1em
        margin-bottom: 3em
        padding: 0

        li
            display:inline-block
            float: left
            font-family: ff-enzo-web, Lucida Sans, sans-serif
            font-size: 0.7em
            height: $size + 50px
            line-height: 1.75
            margin-bottom: 50px
            margin-right: 40px
            text-align: center
            width: $size

            +iphone-portrait
                float: none
                margin: auto
                margin-bottom: 50px

            img
                width: $size
                height: $size
                margin-bottom: 10px
            a
                border: none


    img
        border-radius: 10px
        -moz-border-radius: 10px
        -webkit-border-radius: 10px

        box-shadow: -1px -1px 1px rgba(221,221,221,0.7), 1px 1px 1px rgba(2, 2, 2, 0.4)
        -moz-box-shadow: -1px -1px 1px rgba(221,221,221,0.7), 1px 1px 1px rgba(2, 2, 2, 0.4)
        -webkit-box-shadow: -1px -1px 1px rgba(221,221,221,0.7), 1px 1px 1px rgba(2, 2, 2, 0.4)

        &.tall
            margin-bottom: 1.6em

        &.right
            +before(0.5)
            float: right
    p, div
        padding-bottom: 1em

.detail
    margin-bottom: 2em

    div.images
        clear: both
        margin-top: 1em
        margin-bottom: 3em

        &.small
            a
                +column(2)
                +before(1, $wide: 1.75, $ipad-landscape: 0.5)
                +after(1, $ipad-landscape: 0.5)
                width: 100px
                height: 100px

                border: none
                display:inline
                margin-right: 0
                margin-bottom: 1.5em

                img
                    width: 100px
                    height: 100px
                    margin-bottom: 30px

    img
        +after(0.5)

        +iphone-portrait
            display: block
            float: none !important
            margin:
                left: auto
                right: auto
        &.standalone
            display: block
            float: none !important
            margin:
                left: auto
                right: auto

        border-radius: 10px
        -moz-border-radius: 10px
        -webkit-border-radius: 10px

        float: left
        margin-bottom: 1em

        box-shadow: -1px -1px 1px rgba(221,221,221,0.7), 1px 1px 1px rgba(2, 2, 2, 0.4)
        -moz-box-shadow: -1px -1px 1px rgba(221,221,221,0.7), 1px 1px 1px rgba(2, 2, 2, 0.4)
        -webkit-box-shadow: -1px -1px 1px rgba(221,221,221,0.7), 1px 1px 1px rgba(2, 2, 2, 0.4)

        &.tall
            margin-bottom: 1.6em

        &.right
            +before(0.5)
            float: right

    p, div
        padding-bottom: 1em
/* On smaller screens (portrait iPad or smaller), the Dr. Horrible images overflow,
    screwing with the positioning of the last section. This unfortunate hack stops that.
    (we can't make all sections clear: both or else the main nav would break) */
#contact
    clear: both
    padding-top: 2em

// PORTFOLIO-SPECIFIC STYLING
.portfolio
    .info-left, .info-right
        float: left
    .info-right
        +before(3)
    #info
        overflow: auto
        margin-bottom: 1em
        margin-top: 1em
    .images
        +before(0.5)
        overflow: auto
        img
            +column(4.5)
            border-radius: none
            -webkit-border-radius: none
            -moz-border-radius: none

            box-shadow: none
            -webkit-moz-shadow: none
            -moz-box-shadow: none
